html, body {
  background-image: url("https://www.dealercraft.ca/products/images/backgrounds/crm1.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.app {
  display: flex;
}

/* scroll */

.dashboard .ticket-container::-webkit-scrollbar {
  width: 0.7em; 
  border-radius: 10px;
}
.scroll-touch {
  -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}
.dashboard .ticket-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

}
 
.dashboard .ticket-container::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0);
  outline: 1px solid slategrey;
  border-radius: 10px;

}

#link {
text-decoration: none;
color: rgb(46, 46, 46);
}

/* ----- Nav ------ */

nav {
  height: 100vh;
  position: fixed;
  background-color: #2b2b3fba;
  color: rgb(255,255,255);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ticket form {
  display: flex;
  /* flex-direction: column;
  align-items: center; */
}
h1 {
  text-align: center;
}
nav .logo-container,
nav .controls-container {
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
}

nav .logo-container img {
  width: 25px;
  cursor: pointer;
}

nav .icon {
  color: rgb(255,255,255);
  cursor: pointer;
  font-size: 1.2rem;
}
nav .icon:hover {
  transition: 0.5s;
  color: blue;
}

/* ----- Dashboard ------ */
.dashboard {
  margin-left: 10%;
  padding: 30px;
  width: 100%;
}
.dashboard .ticket-container {
  height:80vh;
  overflow-y: scroll;
}
/* ----- TicketCard ------ */
.ticket-card {
  display: flex;
  width: 100%
}
.ticket-card:hover {
  background: #ebecee;
  transition: 0.5s;
  /* border: 1px solid #2b2b3f36; */
}

.ticket-card #link {
  display: flex;
  width: 100%;
  
}

.ticket-card #link > * {
  background-color: #edededc2;
  margin: 2px;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}


.ticket-card .ticket-color {
  margin: 2px;
  width: 2rem;
}

.ticket-card .avatar-container {
  display: flex;
  justify-content: center;
  width: 80px;
}

.ticket-card .img-container {
  height: 72px;
  width: 69px;
  border-radius: 25px;
  overflow: hidden;
}

.ticket-card .img-container img {
  width: 100%;
  height: 100%;
}

.ticket-card .status-display {
  display: flex;
  justify-content: center;
}

.ticket-card .priority-display {
  display: flex;
  justify-content: center;
}


.ticket-card .priority-display .star-container {
  display: flex;
}

.ticket-card .priority-display .star-container h3 {
  margin: 7px;
  font-size: 1.1rem;
  padding: 0;
  color: rgb(167, 167, 167);
}

.ticket-card .progress-display {
  min-width: 200px;
}

.ticket-card .delete-block {
  background-color: #edededc2;
  width: 50px;
  margin: 2px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.ticket-card .delete-block .delete-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(61, 61, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255,255,255);
}
.ticket-card .delete-block .delete-icon:hover {
  transition: 0.2s;
  background-color: red;
  color: #fff;
  width: 25px;
  height: 25px;
}

.ticket-card .progress-bar {
  width: 100%;
  height: 30px;
  background-color: rgb(158, 158, 158);
  border-radius: 15px;
  overflow: hidden;
}


.ticket-card  .progress-bar .progress-indicator {
  background-color: rgb(104, 104, 175);
  height: 100%;
}
.ticket-card  .progress-bar .progress-indicator:hover {
  transition: 0.2s;

  background-color: #3131ab;
}

/* ----- Ticket ------ */

.ticket {
  padding: 30px;
  width: 100%;
}

.ticket .ticket-container {
  width: 100%;
  display: flex;
  justify-content: center;


}

.ticket form section {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 24rem;
}

.ticket form label {
  margin: 20px 0 0 0;
}

.ticket form input, select {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 1.5px solid rgb(218, 218, 218);
  margin: 5px;
}

.ticket form .multiple-input-container {
  display: flex;
  margin: 20px 0 20px 0;
}

.ticket .img-preview {
  margin: 20px;
  /* width: 200px; */
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
}

.ticket .img-preview img {
  width: 100%;
  height: 100%;
}

.submitBtn {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 1.5px solid rgb(218, 218, 218);
  margin: 5px;
  cursor: pointer;
}
.submitBtn:hover{
  transition: 0.5s;
  background-color: #1983ff7a;
  color: #Fff;
}


.star-container  h3 {
  font-size: 1.5rem;
}



/* search input*/

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 15rem;
  border: 1px solid #016290;
background-color: rgba(169, 169, 169, 0);;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #016290;
}

.searchButton {
  width: 40px;
  height: 36px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border: 1px solid #016290;
  background-color: rgba(169, 169, 169, 0);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.searchButton i {
   color:#604f4f;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.categoryNone {
  display: flex;
  justify-content: center;
  background: #ff00002e;
}

.categoryNone p {
  color: black;
  font-weight:500;
}


/*  */



@media screen and (max-width:700px) {
 nav {
  height: 8vh;
    position: fixed;
    background-color: #2b2b3fba;
    color: rgb(255,255,255);
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 .ticket-card #link {
  flex-direction: column;
 }

 .dashboard {
  margin: 0 auto;
  /* margin: 6vh; */
  padding: 0;
  /* padding: 21px; */
  width: 100%;
}


.dashboard div h1 {
  padding-top: 1rem;
}
nav .controls-container {
  padding: 40px 25px;
  display: flex;
  flex-direction: row-reverse;
}
nav .icon {
  margin: 5px;
}
.ticket form section {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
}
.ticket form {
  display: flex;
  flex-direction: column;
}
.ticket {
  margin-top: 3vh;
}
.ticket .ticket-container {
  flex-direction: column;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}


.dashboard div  h1  {
  margin-top: 7vh;
}
.dashboard div  {
  /* margin-bottom: 15px; */
}
.dashboard .ticket-container {
  margin: 0;
  padding: 10px;
}
.ticket-card .delete-block {
  background-color: #ededed00;
  width: 50px;
  margin: 2px;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ticket-card .priority-display .star-container {
  display: flex;
  padding: 0px;
  border-radius: 10px;
  background: #0d0e0b29;
  margin: 0;
}
.ticket-card .priority-display .star-container h3{
  padding: 2px;
}
}